div.background {
    background-image: url(/images/tumbuh.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

div.transbox {
    background-color: white;
    width: 100%;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    line-height: 250px; 
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center; 
    font-weight: bold;
    color: #000000;
}

/* article */
