div.background {
    background-image: url(/images/tumbuh.jpg);
    background-repeat: no-repeat;
    background-position: top;
    width: 100%; height: 600px;
}

div.transbox {
    background-color: #ffffff;
    width: 100%; height: 600px;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    line-height: 250px; 
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center; 
    font-weight: bold;
    color: #000000;

}
